body{
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

img.nav-link {
    width: 52px;
    height: 52px;
}

#home-section {
    background: url('../img/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background-color: rgba(0,0,0, 0.7);
}

#home-section .home-inner {
    padding-top: 120px;
}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    opacity: 0.5;
    padding: 2px;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border: 2px solid rgb(104, 98, 98) ;
    border-radius: 45px;
    opacity: 1;
    padding: 0;
  }
  .vote-saved {
      background-color: seagreen;
      color: seashell;
  }

.scaling-svg{
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    top: 0;
}  
g {
    padding: 0;
    left: 0;
    top: 0;
    border: 0;
    position:absolute;
    height: 0;
    width: 10;
}

.tooltip {
    left: -100%;
    width: 60px;
   }

  
  .tooltip:after /* triangle decoration */ {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
  }
  
  .tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
  }
  
  .tooltip.left:after {
    left: 10px;
    margin: 0;
  }
  
  .tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
  }